<div class="product-nav-stage" ng-show="navScene"
     ng-class="{'product-nav-stage-main':navScene=='main','product-nav-stage-sub':navScene=='sub'}">
    <div class="product-nav-scene product-nav-main-scene">
        <div class="product-nav-title" id="nav-title" ng-bind="config.title"></div>
        <div class="product-nav-list">
            <ul role="tree" aria-labelledby="nav-title">
                <li ng-repeat="item in config.mainNav"
                    ng-class="{'nav-showchild':item.showChild}">
                    <!--<div product-nav-link item="item"></div>-->
                    <a href="{{item.href}}" role="treeitem">
                        <div class="nav-icon"></div>
                        <div class="nav-title" ng-bind="item.title"></div>
                    </a>
                    <ul ng-if="item.childs" ng-show="item.showChild" role="group">
                        <li ng-repeat="childItem in item.childs">
                            <!--<div product-nav-link item="childItem"></div>-->
                            <a href="{{childItem.href}}" role="treeitem">
                                <div class="nav-icon"></div>
                                <div class="nav-title" ng-bind="childItem.title">概览</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="product-nav-scene product-nav-sub-scene">
        <div class="product-nav-title"><a href="javascript:;" class="nav-icon"
                                          title="{{i18nMessage['common.lb.back']}}" ng-click="backNav()"
                                          ng-if="config.backNav" aliyun-console-spm="3"><span class="icon-left"></span></a>
        </div>
        <div class="product-nav-list">
            <ul role="tree">
                <li ng-repeat="item in config.subNav" class="{{item.cls}}"
                    ng-class="{'active':checkActive(item,'sub')&&!item.showChild,'nav-showchild':item.showChild}"
                    aliyun-console-spm="20{{$index}}">
                    <div product-nav-link item="item"></div>
                    <ul ng-if="item.childs" ng-show="item.showChild" role="group">
                        <li ng-repeat="childItem in item.childs" class="{{childItem.cls}}"
                            ng-class="{active:checkActive(childItem,'sub')}">
                            <div product-nav-link item="childItem"
                                 aliyun-console-spm="20{{$parent.$index}}0{{$index}}"></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>