<div>
    <div ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}">
        <div class="app-header navbar" viewframework-topbar></div>
        <div class="app-aside hidden-xs {{app.settings.asideColor}}" ng-class="{'hide': app.hideAside }"
             viewframework-aside></div>
        <!--<div class="app-content">-->
        <!--<div class="fade-in-up app-content-body" ui-view/>-->
        <!--</div>-->
        <div class="viewFramework-product app-content"
             ng-class="{'viewFramework-product-col-1':config.productNavBar=='col-1','m-n': app.hideAside,'h-full': app.hideFooter}">
            <div class="viewFramework-product-navbar" ng-if="config.productNavBar != 'disabled'">
                <div business-nav/>
            </div>
            <div class="viewFramework-product-navbar-collapse" ng-if="config.productNavBar != 'disabled'"
                 ng-click="collapseProductNavbar()">
                <div class="product-navbar-collapse-inner">
                    <div class="product-navbar-collapse-bg"></div>
                    <div class="product-navbar-collapse">
                        <span class="fa fa-fw fa-indent"></span>
                        <span class="fa fa-fw fa-dedent"></span>
                    </div>
                </div>
            </div>
            <div class="viewFramework-product-body">
                <div ui-view/>
            </div>
        </div>
    </div>
</div>
