<div class="tl-wrap" ng-init="show_contact=false;" ng-class="{'b-success':contacts.length>0}" >
    <div class="tl-date">
        <a ng-click="showContacts()">联系人信息</a>
    </div>
    <div>
        <div class="tl-content panel padder b-a block animated" ng-class="{'fadeInDown':show_contact,'fadeOutUp':!show_contact}">
            <span class="arrow left pull-up hidden-left"></span>
            <span class="arrow right pull-up visible-left"></span>
            <div class="panel-heading" >
                <h5 class="panel-title">维护企业联系人信息</h5>
            </div>
            <div class="panel-body pull-in b-t b-light" >
                <div class="hbox hbox-auto-xs hbox-auto-sm">
                    <div class="col">
                        <div class="wrapper-md">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="list-group list-group-lg list-group-sp">
                                        <a herf class="list-group-item clearfix" ng-repeat="contact in contacts">
                                              <span class="pull-left thumb-sm avatar m-r">
                                                <img src="img/a4.jpg" alt="...">
                                                <i class="on b-white right"></i>
                                              </span>
                                            <span class="clear">
                                            <span ng-bind="contact.contName"></span>
                                                 <span class="pull-right">
                                                     <button ng-click="edit(contact.contId)"
                                                             class="btn btn-rounded btn-sm btn-icon btn-default"><i
                                                             class="fa fa-edit text-info"></i></button>
                                                     <button ng-click="delete(contact.contId)"
                                                             class="btn btn-rounded btn-sm btn-icon btn-default"><i
                                                             class="fa fa-minus text-danger"></i></button>
                                                 </span>
                                            <small class="text-muted clear text-ellipsis">联系电话:{{contact.mobile}}</small>

                                          </span>

                                        </a>
                                    </div>
                                    <button class="btn btn-info btn-addon btn-sm pull-right"
                                            ng-click="add()"><i
                                            class="fa fa-plus"></i>添加联系人
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>