<div class="tl-wrap" ng-init="show_credentials=false" ng-class="{'b-success':credentialsList.length>0}">
    <div class="tl-date">
        <a ng-click="show_credentials=!show_credentials">企业证件</a>
    </div>
    <div>
        <div class="tl-content panel padder b-a block animated"
             ng-class="{'fadeInDown':show_credentials,'fadeOutUp':!show_credentials}">
            <span class="arrow left pull-up hidden-left"></span>
            <span class="arrow right pull-up visible-left"></span>
            <div class="panel-heading">
                <h5 class="panel-title">维护企业证件信息</h5>
            </div>
            <div class="panel-body pull-in b-t b-light">
                <div class="hbox hbox-auto-xs hbox-auto-sm">
                    <div class="col">
                        <div class="wrapper-md">
                            <div class="row">
                                <div class="col-sm-1" align="center" ng-repeat="credentials in credentialsList">
                                    <a ng-click="edit(credentials.credType,credentials.credId)"
                                       ng-class="{'text-info':credentials.credNo,'text-muted':!credentials.credNo}">
                                        <i class="fa fa-file-text-o fa-4x"
                                           ng-hide=""></i>
                                    </a>
                                    <div>{{credentials.credTypeName}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>