<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-ng-click="close(false)"
            aria-hidden="true">&times;</button>
    <h5 class="modal-title" ng-bind="dlgTitle"></h5></div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <span class="text-danger">*</span>
                用户名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="用户名称" name="custName"
                       ng-model="cust.custName">
                <!--<span class="help-block"-->
                <!--ng-class="{'text-danger':form.securityGroupName.$dirty && (form.securityGroupName.$error.maxlength || form.securityGroupName.$error.required ||n                form.securityGroupName.$error.minlength || form.securityGroupName.$error.ecsNamePrefixValidator)}"-->
                <!--bo-text=" 'ecs.cm.validator.lb.name_2_128' | translate"></span>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <span class="text-danger">*</span>
                企业名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="企业名称" name="enterpriseName"
                       ng-model="cust.enterpriseName">
                <!--<span class="help-block"-->
                <!--ng-class="{'text-danger':form.securityGroupName.$dirty && (form.securityGroupName.$error.maxlength || form.securityGroupName.$error.required ||n                form.securityGroupName.$error.minlength || form.securityGroupName.$error.ecsNamePrefixValidator)}"-->
                <!--bo-text=" 'ecs.cm.validator.lb.name_2_128' | translate"></span>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <span class="text-danger">*</span>
                企业性质</label>
            <div class="col-sm-9">
                <select name="enterpriseNature" ng-model="cust.enterpriseNature" class="form-control m-b"
                        ng-options="option.codeValue as option.codeName for option in enterpriseNatureOptions">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                法人代表</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="法人代表" name="legalPerson"
                       ng-model="cust.legalPerson">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                企业注册地址</label>
            <div class="col-sm-9">
                    <textarea class="form-control" rows="3"
                              placeholder="企业注册地址" name="registeredAddr"
                              ng-model="cust.registeredAddr"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                联系地址</label>
            <div class="col-sm-9">
                      <textarea class="form-control" rows="3"
                                placeholder="联系地址" name="concatAddr"
                                ng-model="cust.concatAddr"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                营业期限</label>
            <div class="col-sm-6">
                <div class="input-group w-md">
                    <input type="text" class="form-control"
                           datepicker-popup="yyyy-MM-dd"
                           ng-model="cust.beginBusiTime" is-open="picker.fromOpened"
                           datepicker-options="dateOptions" close-text="Close"/>
                    <span class="input-group-btn">
                                                    <a class="btn btn-default"
                                                       ng-click="open($event);picker.fromOpened=true;picker.toOpened=false">
                                                        <i class="glyphicon glyphicon-calendar"></i></a>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                至</label>
            <div class="col-sm-6">
                <div class="input-group w-md">
                    <input type="text" class="form-control"
                           datepicker-popup="yyyy-MM-dd"
                           ng-model="cust.endBusiTime" is-open="picker.toOpened"
                           datepicker-options="dateOptions"/>
                    <span class="input-group-btn">
                                                    <a class="btn btn-default"
                                                       ng-click="open($event);picker.toOpened=true;picker.fromOpened=false">
                                                        <i class="glyphicon glyphicon-calendar"></i></a>
                                                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-info" data-ng-disabled="!form.$valid" data-ng-click="doAction()"
            bo-text=" 'ecs.common.dlg.bt.submit' | translate">确认
    </button>
    <button class="btn btn-default" data-ng-click="close(false)"
            bo-text=" 'ecs.common.dlg.bt.cancel' | translate">取消
    </button>
</div>